/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body{
	color:white;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body>.container {
	padding: 60px 15px 0;
}

.container .text-muted {
	margin: 20px 0;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

.footer {
	background-color: black;
}

a:link {
	font-size: 18px;
	color: white;
}

a:visited {
	font-size: 18px;
	color: white;
}

a:hover {
	font-size: 18px;
	color: white;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.clear-all {
	clear: both;
}

.navbar-default {
	background-color: #253e57;
	color: white;
}

myStyle {
	color: white;
}

#navbar ul li a {
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.social {
	width: 40px;
	margin: 5px;
}
nav .navbar-header{
	margin: 0 20px 0 20px;
	padding:0;
}
nav{
	margin: 0;
}
.poster{
	width:100%;
}
body{
	background-image: url("../images/edutor_bg.jpg");
	background-size: 100%;
}
.form-holder {
    margin: 10px auto;
    background: #c1c7ce;
    font-size: 14px;
}

fieldset {
    margin: 20px 0;
    padding: 45px;
    border: 2px solid #253e57;
    border-radius: 5px;
    box-shadow:0 0 10px #999;
}

legend {
    color: #253e57;
    font-size:30px;
}

.row-content {
    margin: 5px 0;
}

label {
    display: block;
    padding: 5px 0;
    color:#253e57;
}

input[type=text],
input[type=password] {
    border: 0;
    outline: 0;
    padding: 10px;
    display: inline-block;
    border-bottom: 2px solid white;
    margin: 10px 0;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border-radius: 3px;
}

input[type=text]:hover,
input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus{
    border-color: #253e57;
}

.fullwidth {
    width: 406px;
}

.halfwidth {
    width: 180px;
    display: inline-block;
}

.halfwidth:last-child {
    margin-left: 22px;
}

.quaterwidth {
    width: 120px;
    margin-left: 10px;
}

.thirdwidth {
    width: 270px;
}

.sameline {
    display: inline-block;
    cursor: pointer;
}

.sameline:last-child {
    margin-left: 5px;
}

.myBtn {
    margin: 0 0 0 10px;

    border: 2px solid #253e57;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.btn:hover,
.btn:focus {
    background-color: #253e57;
}
